body{
    background: #f2f2f2 ;
    font-family: 'Open Sans', sans-serif;
}

header{
    margin-top: 30px;
}

header .nav{
    min-height: 80px;
    overflow: hidden;
    background: #fff;
}

/* Logo */

header .Logo h2,
header .Logo span,
header .Logo p{
    font-size:16px;
    display: inline-block;
    margin: 0;
}

header .Logo h2{
    font-weight: 800;
    text-transform: uppercase;
}

header .Logo .icono {
    color: #bfbfbf
}

header .Logo p {
    color:#777777;
}

/* --Menu -- */

header .Menu{
    padding:0;
}

header .Menu a {
    display: block ;
    text-decoration: none;
    color: #fff;
    padding: 0 30px;
}

header .Menu a div span {
    font-weight: 600;
}

header .Menu .C-1{
    background: #3da5e2;
}
header .Menu .C-2{
    background: #005385;
}
header .Menu .C-3{
    background: #003855;
}

header .Menu .C-1:hover{
    background: #1ba0ef;
}
header .Menu .C-2:hover{
    background: #00426a;
}
header .Menu .C-3:hover{
    background: #002d44;
}

/* --Slider -- */

.Slider{
    margin-bottom: 40px;
}

.Slider .col {
    padding:0;
}

/* --Portafolio-- */

.Portafolio{
    background: #fff;
    border-top: 5px solid #3da5e2;
    padding: 0 20px;
    margin-bottom: 40px; 
}

.Portafolio .Titulo {
    padding: 40px 0 ;
    text-align: center;
    color: #3da5e2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.Portafolio .Galeria .Contenedor-Imagen {
    margin-bottom: 40px;
    max-height: 180px;
    overflow: hidden; 
}

.Portafolio .Galeria .Contenedor-Imagen a{
    display: inline-block;
    background: #3da5e2;
}

.Portafolio .Galeria .Contenedor-Imagen:hover img {
    opacity: .3;
}

.Portafolio .modal-dialog {
	width: 100%;
	height: 100%;
	max-height: 100%;
}

.modal-dialog{
width: 100%;
height: 100%;
max-height: 100%;
}

/* --Acerca de -- */

.Acerca-De {
    padding: 30px;
    margin-bottom: 40px;
}

.Acerca-De .Foto {
    text-align:center;
}

.Acerca-De .Foto img{
    margin-bottom: 30px;
}

.Acerca-De .Foto .Nombre{
    color: #545454;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px ;
}

.Acerca-De .Info .Titulo {
    color: #005385;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 30px;
}

.Acerca-De .Info .Resumen {
    letter-spacing: 1px;
}

.Acerca-De .Info .label {
    font-size: 18px;
    font-weight: 600;
    color:#005385;
    margin-bottom: 10px;
}

.Acerca-De .Info .progress {
	background: #005385;
	border-radius: 0;
	margin-bottom: 15px;
}

.Acerca-De .Info .progress-bar {
    height: 1rem;
    background: #3da5e2;
    line-height: 25px;
    text-align: left;
    padding-left: 20px
}

/* -- Contacto -- */

.Contacto {
    padding: 40px 0;
    border-top: 1px solid #cbcbcb;
    margin-bottom: 40px
}

.Contacto .Titulo {
    color: #003855;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.Contacto .form-group {
    margin-bottom: 0;
}

.Formulario input[type='text'],
.Formulario input[type='email'],
.Formulario textarea {
    padding: 15px;
    border: none; 
    width:100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.Formulario textarea{
    height: 150px;
    min-height: 150px;
    max-height: 250px;
}

.Formulario .Boton {
    background: #3da5e2;
    border: none;
    padding: 7px 30px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    width: auto;
    border-radius: 3px;
}

.Formulario .Boton:hover {
    background: #2fa0ef;
}

/* -- Redes Sociales -- */

.Redes-Sociales {
    padding: 40px 0;
    margin-bottom: 40px;
}

.Redes-Sociales .icono {
    width: 100px;
    height: 100px;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    color:#fff;
    background: #cbcbcb;
    display: inline-block;
    margin: 0px 20px;
    text-decoration: none;
    border-radius: 100px;
    transform: all .3s ease;
}

.Redes-Sociales .Twitter{background: #1da1f2 }
.Redes-Sociales .Instagram{background: #833ab4 }
.Redes-Sociales .Facebook{background: #3b5998 }

/* -- Mediaqueries -- */

/* -- xl -- */
@media screen and (max-width: 1199px){}

/* -- lg -- */
@media screen and (max-width: 997px){
    .Logo{
        height: 76px;
    }

    .Menu{
        min-height: 96px;
    }

    .Menu a {
        width: 100%
    }

    .Menu a div {
        width: 100%;
    }

    .Portafolio .Galeria .Contenedor-Imagen:nth-child(1){order:1}
    .Portafolio .Galeria .Contenedor-Imagen:nth-child(2){order:3}
    .Portafolio .Galeria .Contenedor-Imagen:nth-child(3){order:6}
    .Portafolio .Galeria .Contenedor-Imagen:nth-child(4){order:2}
    .Portafolio .Galeria .Contenedor-Imagen:nth-child(5){order:5}
    .Portafolio .Galeria .Contenedor-Imagen:nth-child(6){order:4}
    .Portafolio .Galeria .Contenedor-Imagen:nth-child(7){order:7}

    .modal .modal-dialog {
        width: 90%; 
        margin: 0px auto
    }

    .modal .modal-dialog .modal-content img {
        width: 100%;
    }
}

/* --md-- */
@media screen and (max-width: 767px){}

/* -- sm -- */
@media screen and (max-width: 575px){
    header {
        margin-top:0;
        text-align: center;
    }

    header .Logo h2,
    header .Logo p {
        font-size: 12px;
    }

    .Redes-Sociales .icono {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 15px;
    }
}







